
    <div>
        <table class="table1">
    
            <tr>
            <td align="right"><img src="../assets/images/logo.PNG"/></td>
            <td><input style="width:550px;height:33px;" type="text" placeholder="Search for products, brands and more">&nbsp;
            <input type="button" value="Search" style="height: 37px; width: 120px;">
            </td>
            <th align="left">
                <div class="dropdown">
                    <button class="dropbtn">Login & Signup</button>
                    <div class="dropdown-content"> 
                    <a >Login as User</a>
                    <a [routerLink]="['/loginadmin']">Login as Admin</a>
                    <a href="#">Login as Retailer</a>
                    </div>
                  </div>
            </th>
            <th><font color="white">More</font></th>
            <th><a href="https://www.github.com">
                <img src="../assets/images/cart.PNG"></a></th>
            </tr>
            </table>
            
            
            <table class="table2">
            <tr>
                <th width="11.11%">Electronics</th>
                <th width="13.11%">TVs & Appliances</th>
                <th width="7.11%">Men</th>
                <th width="7.11%">Women</th>
                <th width="13.11%">Baby & Kids</th>
                <th width="13.11%">Home & Furniture</th>
                <th width="13.11%">Sports,Books & More</th>
                <th width="9.11%">Flights</th>
                <th width="11.11%">offer zone</th>
            </tr>
            </table>
    </div>
    